<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Grupo 02</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/badges.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/uploadBox.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap-5-theme.min.css"/>
</head>
<body>
<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 210px;">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none mx-auto">
            <span class="fs-4">Grupo 02</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Index" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-house me-2"></i>
                    Inicio
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Premios" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Premios">
                    <i class="fa-solid fa-trophy me-2"></i>
                    Premios
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Contribuciones" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Contribuciones">
                    <i class="fa-solid fa-hand-holding-medical me-2"></i>
                    Contribuciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "RegistrarPersonaVulnerable" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="RegistrarPersonaVulnerable">
                    <i class="fa-solid fa-people-robbery me-2"></i>
                    Registro Persona Vulnerable
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Heladeras" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Heladeras">
                    <i class="fa-regular fa-snowflake me-2"></i>
                    Heladeras
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Suscripciones" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Suscripciones">
                    <i class="fa-solid fa-bell me-2"></i>
                    Suscripciones
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "RegistrarColaborador" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="RegistrarColaborador">
                    <i class="fa-solid fa-user-plus me-2"></i>
                    Registro Colaborador
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "ImportarColaboradores" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="ImportarColaboradores">
                    <i class="fa-solid fa-file-import me-2"></i>
                    Importar Colaboradores
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Incidentes" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Incidentes">
                    <i class="fa-solid fa-bomb me-2"></i>
                    Incidentes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "ReportarFallaTecnica" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="ReportarFallaTecnica">
                    <i class="fa-solid fa-triangle-exclamation me-2"></i>
                    Reportar Falla Técnica
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Reportes" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Reportes">
                    <i class="fa-solid fa-file-lines me-2"></i>
                    Reportes
                </a>
            </li>
            <hr class="my-1">
            <li class="nav-item">
                <a class="nav-link @(ViewData["Current"]?.ToString() == "Perfil" ? "active" : "text-white")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Perfil">
                    <i class="fa-solid fa-user me-2"></i>
                    Perfil
                </a>
            </li>
        </ul>
    </div>

    <div class="b-divider"></div>
    <div class="w-100 mx-0" style="background-color: #f4f4f4">
        <div class="w-100 p-0 m-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                    <div class="d-flex align-items-center me-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Sistema para la Mejora del Acceso Alimentario en Contextos de Vulnerabilidad Socioeconómica</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="nav-link badge badge-secondary p-2 mx-1">Puntos: 80.000</span>
                        <div class="dropdown align-items-center mx-1">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownNotificaciones" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bell"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end" aria-labelledby="dropdownNotificaciones">
                                <li><div class="dropdown-item">Alerta heladera 1</div></li>
                                <li><div class="dropdown-item">Alerta heladera 2</div></li>
                                <li><div class="dropdown-item">Alerta heladera 3</div></li>
                                <li><div class="dropdown-item">Alerta heladera 4</div></li>
                            </ul>
                        </div>
                        <div class="dropdown align-items-center mx-1">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                                     height="32" alt="Avatar" loading="lazy"/>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end text-center" aria-labelledby="dropdownUser">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Perfil">Perfil</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Suscripciones">Mis Suscripciones</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Login" asp-action="Index">Desconectar</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <div class="container-fluid pt-1 py-1 h-100 pb-5" style="overflow: auto;">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @if (ViewData["Breadcrumb"] != null)
                    {
                        var breadcrumbItems = (Dictionary<string, string>)ViewData["Breadcrumb"];
                        foreach (var item in breadcrumbItems)
                        {
                            var isLastItem = item.Equals(breadcrumbItems.Last());
                            if (isLastItem)
                            {
                                <li class="breadcrumb-item active" aria-current="page">@item.Key</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item">
                                    <a href="@item.Value">@item.Key</a>
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
                    }
                </ol>
            </nav>
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/js/jquery.slim.min.js"></script>
<script src="~/lib/select2/dist/js/select2.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>