@{
    ViewData["Title"] = "Heladeras";
    ViewData["Current"] = "Heladeras";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Inicio", Url.Action("Index", "Home") },
        { "Heladeras", Url.Action("Heladeras", "Home") }
    };
    
    ViewData["Heladeras"] = new List<object>
    {
        new
        {
            Nombre="Heladera de Medrano",
            Direccion="Avenida Medrano 951",
            Estado="Funcionando",
            Temperatura= new {
                Actual= 4,
                Minima= 2,
                Maxima= 6    
            },
            FechaInstalacion="2021-08-01",
            Modelo="Modelo 1",
            Id=1,
            Posicion= new {
                Latitud= -34.5986431,
                Longitud= -58.4212262
            }
        },
        new
        {
            Nombre="Heladera de Rivadavia",
            Direccion="Avenida Rivadavia 951",
            Estado="Desperfecto",
            Temperatura= new {
                Actual= 4,
                Minima= 2,
                Maxima= 6    
            },
            FechaInstalacion="2021-08-01",
            Modelo="Modelo 1",
            Id=2,
            Posicion= new {
                Latitud= -34.6213079,
                Longitud= -58.4476396
            }
        },
        new
        {
            Nombre="Heladera de Corrientes",
            Direccion="Avenida Corrientes 951",
            Estado="Fuera de Servicio",
            Temperatura= new {
                Actual= 4,
                Minima= 2,
                Maxima= 6    
            },
            FechaInstalacion="2021-08-01",
            Modelo="Modelo 1",
            Id=3,
            Posicion= new {
                Latitud= -34.6040353,
                Longitud= -58.4108635
            }
        }
    };
}

<div class="col-12 mb-3">
    <h1 class="text-center">Heladeras</h1>
</div>
<div class="col-12 mb-3 text-center">
   <button id="cambiar-vista" class="btn btn-primary">Ver en el mapa</button>
</div>
<div class="col-12 heladeras-table">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-secondary">
            <tr id="table-header">
                <th scope="col">#</th>
                <th>Heladera</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="table-body" class="table-group-divider">
            
            @foreach (var heladera in (List<dynamic>)ViewData["Heladeras"])
            {
                <tr class="align-middle">
                    <th scope="row">@heladera.Id</th>
                    <td>@heladera.Nombre</td>
                    <td><span class="badge @(heladera.Estado?.ToLower() == "funcionando" ? "badge-success" : "badge-danger") p-2" style="width: 100%">@heladera.Estado</span></td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="populateModal(@heladera.Id)" data-bs-toggle="modal" data-bs-target="#heladeraModal">Ver Detalles</button>
                    </td>
                </tr>
            }
            
            
            </tbody>
        </table>
    </div>
</div>
<div class="col-12 heladeras-map d-none">
    <div id="map" class="" style="height: 70vh;"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="heladeraModal" tabindex="-1" aria-labelledby="heladeraModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="heladeraModalLabel">Detalles de la heladera</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="modal-nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="modal-nombre" readonly>
                </div>
                <div class="mb-3">
                    <label for="modal-descripcion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="modal-direccion" readonly>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                        <h5 class="text-center">Posicion</h5>
                    </div>
                    <div class="col-6">
                        <label for="modal-posicion-latitud" class="form-label">Latitud</label>
                        <input type="text" class="form-control" id="modal-posicion-latitud" readonly>
                    </div>
                    <div class="col-6">
                        <label for="modal-posicion-longitud" class="form-label">Longitud</label>
                        <input type="text" class="form-control" id="modal-posicion-longitud" readonly>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="modal-estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="modal-estado" readonly>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                        <h5 class="text-center">Temperatura</h5>
                    </div>
                    <div class="col-4">
                        <label for="modal-temperatura-actual" class="form-label">Actual</label>
                        <input type="text" class="form-control" id="modal-temperatura-actual" readonly>
                    </div>
                    <div class="col-4">
                        <label for="modal-temperatura-minima" class="form-label">Minima</label>
                        <input type="text" class="form-control" id="modal-temperatura-minima" readonly>
                    </div>
                    <div class="col-4">
                        <label for="modal-temperatura-maxima" class="form-label">Maxima</label>
                        <input type="text" class="form-control" id="modal-temperatura-maxima" readonly>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="modal-fecha-instalacion" class="form-label">Fecha de Instalacion</label>
                    <input type="text" class="form-control" id="modal-fecha-instalacion" readonly>
                </div>
                <div class="mb-3">
                    <label for="modal-modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modal-modelo" readonly>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Viandas">Ver viandas</a>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="#">Suscribirse</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="ReportarFallaTecnica">Reportar falla</a>
            </div>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEB2MB3GaNTCSGIfEety_fbK5wDVga99Q&loading=async&libraries=marker" ></script>
<script>
    const heladeras = @Html.Raw(Json.Serialize(ViewData["Heladeras"]));
    function initMap() {
        const mapCanvas = document.getElementById('map');
        const mapOptions = {
            center: new google.maps.LatLng(-34.5986298, -58.4226412),
            zoom: 12,
            panControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapId: 'f1b7b3b3b3b3b3b3'
        }
        const map = new google.maps.Map(mapCanvas, mapOptions);

        heladeras.forEach(function(heladera) {
            const marker = new google.maps.marker.AdvancedMarkerElement({
                position: new google.maps.LatLng(heladera.posicion.latitud, heladera.posicion.longitud),
                map: map,
                title: heladera.direccion,
            });
            marker.addListener('click', function() {
                const contentString = `
                    <div class="card" style="width: 18rem;">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title my-auto">${heladera.direccion}</h5>
                            <button type="button" class="btn-close" aria-label="Close" id="close-info-window-${heladera.id}"/>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <span class="badge ${heladera.estado.toLowerCase() === 'funcionando' ? 'badge-success' : 'badge-danger'} p-2" style="width: 100%">${heladera.estado}</span>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" onclick="populateModal(${heladera.id})" data-bs-toggle="modal" data-bs-target="#heladeraModal">Ver Detalles</button>
                        </div>
                    </div>
                `;
                const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    headerDisabled: true
                });

                infowindow.open(map, marker);

                google.maps.event.addListener(map, 'click', function() {
                    infowindow.close();
                });
                
                google.maps.event.addListener(infowindow, 'domready', function() {
                    document.getElementById(`close-info-window-${heladera.id}`).addEventListener('click', function() {
                        infowindow.close();
                    });
                });
            });
        });
    }

    function populateModal(id){
        const heladera = heladeras.find(h => h.id === id);
        document.getElementById('modal-nombre').value = heladera.nombre;
        document.getElementById('modal-direccion').value = heladera.direccion;
        document.getElementById('modal-estado').value = heladera.estado;
        document.getElementById('modal-temperatura-actual').value = heladera.temperatura.actual + "°C";
        document.getElementById('modal-temperatura-minima').value = heladera.temperatura.minima + "°C";
        document.getElementById('modal-temperatura-maxima').value = heladera.temperatura.maxima + "°C";
        document.getElementById('modal-fecha-instalacion').value = heladera.fechaInstalacion;
        document.getElementById('modal-modelo').value = heladera.modelo;
        document.getElementById('modal-posicion-latitud').value = heladera.posicion.latitud;
        document.getElementById('modal-posicion-longitud').value = heladera.posicion.longitud;
    }
    
    document.getElementById('cambiar-vista').addEventListener('click', function() {
        if (document.querySelector('.heladeras-table').classList.contains('d-none')) {
            document.querySelector('.heladeras-table').classList.remove('d-none');
            document.querySelector('.heladeras-map').classList.add('d-none');
            document.getElementById('cambiar-vista').textContent = 'Ver en el mapa';
        } else {
            document.querySelector('.heladeras-table').classList.add('d-none');
            document.querySelector('.heladeras-map').classList.remove('d-none');
            document.getElementById('cambiar-vista').textContent = 'Ver en tabla';
        }
    });
    
    window.addEventListener('load', function() {
        initMap();
    });
</script>